

  IF SHOW GLOBAL STATUS LIKE 'wsrep_cluster_size'> 1 THEN
    SET SESSION wsrep_OSU_method=RSU;
  END IF;  

  IF SHOW GLOBAL STATUS LIKE 'wsrep_cluster_size'> 1 THEN
    SET SESSION wsrep_OSU_method=RSU;
  END IF;  
